<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Instagram</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div id="wrap">
		<header class="d-flex justify-content-center align-items-center">
			<img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png">
		</header>
		<th:block layout:fragment="contents"></th:block>
		<footer class="d-flex justify-content-center align-items-center">
			<div class="text-secondary">Copyright 2025. Instagram All rights reserved.</div>
		</footer>
	</div>

</body>
</html>