<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Instagram</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

	<div id="wrap" class="d-flex justify-content-between">
		<div class="d-flex">
			<div class="logo d-flex justify-content-center">
				<div class="mt-1">
					<img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png">
				</div>
			</div>
			<div style="border-left: 1px solid gray;"></div>
		</div>
		<section class="contents">
			<div class="box border border-secondary mt-4 p-2">
				<input type="text" class="form-control" placeholder="내용을 입력하세요.">
				<div class="d-flex justify-content-between">
					<button type="button" class="btn btn-sm p-0">
						<i class="h2 mb-0 bi bi-image"></i>
					</button>
					<button type="button" class="col-2 btn btn-sm p-0 font-weight-bold text-secondary">업로드</button>
				</div>
			</div>
      		<div class="box border border-secondary mt-4">
      			<div class="d-flex justify-content-between align-items-center px-2 py-1">
      				<div class="d-flex align-items-center">
		      			<i class="h2 mb-0 mr-2 bi bi-person-circle"></i>
		      			<span class="font-weight-bold">user</span>
      				</div>
      				<button type="button" class="btn btn-sm p-0">
		      			<img height="20" src="https://www.svgrepo.com/show/124304/three-dots.svg">
      				</button>
      			</div>
      			<img width="350" src="https://cdn.pixabay.com/photo/2015/09/05/23/54/ice-cream-926426_1280.jpg">
      			<div class="px-2 py-1">
	      			<div class="d-flex align-items-center">
		      			<button type="button" class="btn btn-sm p-0">
							<img height="20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWurNic_d7QCLGLSZGcSMuKGrCxRsqrICpQ&s">
		      			</button>
		      			<button type="button" class="btn btn-sm p-0 d-none">
							<img height="20" src="https://www.transparentpng.com/thumb/instagram-heart/8TPkVW-red-instagram-heart-free-download.png">
		      			</button>
	      				<div class="ml-1">좋아요 11개</div>
	     			</div>
	     			<div>
	     				<span class="font-weight-bold">user</span>
	     				<span class="ml-1">아이스크림</span>
	     			</div>
	     			<div class="text-secondary font-weight-bold">댓글</div>
	     			<div>
	     				<span class="font-weight-bold">user1</span>
	     				<span class="ml-1">아이스크림</span>
	     			</div>
	     			<div>
	     				<span class="font-weight-bold">user2</span>
	     				<span class="ml-1">아이스크림</span>
	     			</div>
	     			<div class="d-flex justify-content-between mt-3">
		     			<input type="text" class="form-control col-10" placeholder="댓글 달기...">
		     			<button type="button" class="col-2 btn btn-sm p-0 font-weight-bold text-secondary">게시</button>
	     			</div>
      			</div>
      		</div>
		</section>
		<div class="user">
			<div class="d-flex align-items-center font-weight-bold mt-4">
				<i class="h1 m-0 bi bi-person-circle"></i>
				<span class="ml-2" th:text="${session.userLoginId}">user</span>
				<a class="ml-2" href="/user/logout">로그아웃</a>
			</div>
		</div>
	</div>

</body>
</html>