<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div>
				<div class="box border border-secondary p-2">
					<input type="text" class="form-control no-border p-0" placeholder="내용을 입력하세요.">
					<div class="d-flex justify-content-between align-items-center mt-1">
						<button class="btn btn-sm btn-primary text-white font-weight-bold">사진 선택</button>
			     		<a href="#" style="text-decoration: none;" class="col-2 font-weight-bold text-primary p-0 text-center">업로드</a>
					</div>
				</div>
	      		<div class="box border-bottom border-secondary mt-2">
	      			<div class="d-flex justify-content-between align-items-center px-2 py-1">
	      				<div class="d-flex align-items-center">
			      			<i class="h2 mb-0 mr-2 bi bi-person-circle"></i>
			      			<span class="font-weight-bold">user</span>
	      				</div>
	      				<a href="#" style="line-height: 1;">
			      			<img height="20" src="https://www.svgrepo.com/show/124304/three-dots.svg">
	      				</a>
	      			</div>
	      			<img width="350" src="https://cdn.pixabay.com/photo/2015/09/05/23/54/ice-cream-926426_1280.jpg">
	      			<div class="p-2">
		      			<div class="d-flex align-items-center">
			      			<a href="#">
								<img height="20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWurNic_d7QCLGLSZGcSMuKGrCxRsqrICpQ&s">
			      			</a>
			      			<a href="#" class="d-none">
								<img height="20" src="https://www.transparentpng.com/thumb/instagram-heart/8TPkVW-red-instagram-heart-free-download.png">
			      			</a>
		      				<div class="ml-2">좋아요 11개</div>
		     			</div>
		     			<div>
		     				<span class="font-weight-bold">user</span>
		     				<span class="ml-1">아이스크림</span>
		     			</div>
		     			<div class="text-secondary font-weight-bold">댓글</div>
		     			<div>
		     				<span class="font-weight-bold">user1</span>
		     				<span class="ml-1">아이스크림</span>
		     			</div>
		     			<div>
		     				<span class="font-weight-bold">user2</span>
		     				<span class="ml-1">아이스크림</span>
		     			</div>
		     			<div class="d-flex justify-content-between align-items-center">
			     			<input type="text" class="form-control col-10 no-border p-0" placeholder="댓글 달기...">
			     			<a href="#" style="text-decoration: none;" class="col-2 font-weight-bold text-primary p-0 text-center">게시</a>
		     			</div>
	      			</div>
	      		</div>
			</div>
		</section>