<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="outer-box">
				<div class="box1 border p-4">
					<div class="d-flex justify-content-center my-1">
						<img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png">
					</div>
					<div class="text-secondary text-center font-weight-bold">친구들의 사진과 동영상을 보려면 가입하세요.</div>
					<div class="d-flex justify-content-between mt-3">
						<input type="text" class="form-control col-7" id="idInput" placeholder="사용자 이름">
						<button type="button" class="btn btn-block btn-primary col-4" id="duplicateBtn">중복확인</button>
					</div>
					<div id="duplicateText" class="small text-danger d-none">중복된 아이디입니다.</div>
					<div id="availableText" class="small text-success d-none">사용가능한 아이디입니다.</div>
					<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
					<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호 확인">
					<input type="text" class="form-control mt-2" id="nameInput" placeholder="성명">
					<input type="text" class="form-control mt-2" id="emailInput" placeholder="이메일 주소">
					<button type="button" class="btn btn-block btn-primary mt-3" id="joinBtn">가입</button>
				</div>
				<div class="box2 border mt-2 p-3">
					<div class="text-center">계정이 있으신가요?</div>
					<div class="text-center"><a href="/user/login-view">로그인</a></div>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
		
			var checkDuplicateId = null;
			
			$("#idInput").on("input", function() {
				checkDuplicateId = null;
				$("#availableText").addClass("d-none");
				$("#duplicateText").addClass("d-none");
			});
			
			$("#duplicateBtn").on("click", function () {
				let id = $("#idInput").val();
				if(id == "") {
					alert("사용자 이름을 입력하세요")
					return ;
				}
				$.ajax ({
					type:"get"
					, url:"/user/duplicate-id"
					, data:{"loginId":id}
					, success:function(response) {
						if(response.isDuplicate) {
							$("#duplicateText").removeClass("d-none");
							$("#availableText").addClass("d-none");
							checkDuplicateId = false;
						} else {
							$("#availableText").removeClass("d-none");
							$("#duplicateText").addClass("d-none");
							checkDuplicateId = true;
						}
					}
					, error:function() {
						alert("중복확인 에러!");
					}
				});
			});
		
			$("#joinBtn").on("click", function () {
				
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				let passwordConfirm = $("#passwordConfirmInput").val();
				let name = $("#nameInput").val();
				let email = $("#emailInput").val();
				
				if(id == "") {
					alert("사용자 이름을 입력하세요");
					return ;
				}
				
				if(checkDuplicateId == null) {
					alert("사용자 이름에 대한 중복확인을 하세요");
					return ;
				} else if(!checkDuplicateId) {
					alert("중복되지 않은 사용자 이름으로 변경하세요");
					return ;
				}

				if(password == "") {
					alert("비밀번호를 입력하세요");
					return ;
				}

				if(password != passwordConfirm) {
					alert("비밀번호가 일치하지 않습니다");
					return ;
				}

				if(name == "") {
					alert("성명를 입력하세요");
					return ;
				}

				if(email == "") {
					alert("이메일 주소를 입력하세요");
					return ;
				}
				
				$.ajax({
					type:"post"
					, url:"/user/join"
					, data:{"loginId":id, "password":password, "name":name, "email":email}
					, success:function(response) {
						if(response.result == "success") {
							location.href = "/user/login-view";
						} else {
							alert("회원 가입 실패!");
						}
					}
					, error:function() {
						alert("회원 가입 에러!");
					}
				});
				
			});
		</script>
</html>