<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/noHeader}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div>
				<div class="box border p-4">
					<div class="d-flex justify-content-center my-3">
						<img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png">
					</div>
					<form id="loginForm">
						<input type="text" class="form-control" id="idInput" placeholder="사용자 이름">
						<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
						<button type="submit" class="btn btn-block btn-primary mt-3" id="loginBtn">로그인</button>
					</form>
				</div>
				<div class="box border mt-2 p-3 d-flex justify-content-center">
					<div>계정이 없으신가요?<a href="/user/join-view" class="ml-1 font-weight-bold">가입하기</a></div>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$("#loginForm").on("submit", function(e) {
				// form 태그 원래의 기능을 제거
				e.preventDefault();
				
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				
				if(id == "") {
					alert("아이디를 입력하세요");
					return ;
				}

				if(password == "") {
					alert("비밀번호를 입력하세요");
					return ;
				}
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"loginId":id, "password":password}
					, success:function(response) {
						if(response.result == "success") {
							location.href = "/post/timeline-view";
						} else {
							alert("사용자 이름과 비밀번호를 확인해 주세요");
						}
					}
					, error:function() {
						alert("로그인 에러!");
					}
				});
				
			});
		</script>
		
</html>